.dialog-container {
  display: flex;
  flex-direction: column;
  /* min-width: 800px; */
  padding: 16px 16px 0;
}
.dialog-container > * {
  width: 100%;
}
.song-text {
  flex: 1;
  font-family: 'Roboto Mono', monospace;
}
.song-text textarea {
  min-height: 20em;
}
